#logo {
	height: 282px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/logo.png",sizingMethod="scale");
	width: 352px;
}

#logo img {
	visibility: hidden;
}

#ft {
	height: 276px;
}