h1#logo { width: 352px; height: 282px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/logo.png",sizingMethod="scale"); }
h1#logo img { visibility: hidden; }
div#ft { height: 276px; }