/* ----- Generic styles --------------------------------------------------*/
html {
	background: #16131e;
}

body {
	background: #0e0b17 url("../images/body-bg.gif") repeat-y 50% 0;
	color: #fff;
	font: 62.5%/1 "Lucida Grande", Arial, Helvetica, sans-serif;
}

b {
	font-weight: normal;
}

a {
	text-decoration: none;
}


/* ----- Generic classes -------------------------------------------------*/
.alt {
	position: absolute;
	left: -9999px;
}

.clear:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}


/* ----- Layout ----------------------------------------------------------*/
#doc {
	padding-top: 20px;
	background: url("../images/doc-bg.png") no-repeat 50% 0;
}

#hd,
#bd {
	width: 918px;
	margin: 0 auto;
}

#hd {
	height: 300px;
	text-align: center;
}

.col {
	float: left;
}

.team {
	width: 258px;
	padding-top: 24px;
}

#mixx {
	padding-right: 48px;
	text-align: right;
}

#viget {
	padding-left: 48px;
}

#content {
	width: 306px;
}

.team h2 {
	margin-bottom: 36px;
}

.team .vcard {
	margin: 0 0 36px 0;
}

.team .fn {
	font: italic 200%/1 Georgia, "Times New Roman", serif;
}

.team .note {
	margin-top: 0.6em;
	font-size: 120%;
	line-height: 1.4em;
	color: #4d4051;
}

.vevent {
	height: 151px;
	padding: 84px 24px 0 24px;
	font-size: 120%;
	text-align: center;
	color: #6e2a57;
	background: url("../images/vevent-bg.gif") no-repeat 0 0;
}

.vevent .description {
	height: 37px;
	margin: 0 0 8px 0;
	background: url("../images/vevent-description-bg.gif") no-repeat 50% 0;
}

.vevent p,
.vevent .vcard {
	line-height: 1.4em;
}

.vevent .dtstart {
	font-weight: bold;
}

.vevent a {
	color: #6e2a57;
}

.vevent .geo {
	display: block;
}

#content h3 {
	margin-bottom: 24px;
	padding: 0 24px;
}

#content h3 a {
	display: block;
	height: 17px;
	background: url("../images/tweet-bg.gif") no-repeat 50% 0;
}

#ft {
	min-height: 276px;
	padding-top: 24px;
	background: #06050b url("../images/ft-bg.gif") no-repeat 50% 0;
}

#ft p {
	width: 258px;
	margin: 0 auto 1em auto;
	padding-left: 660px;
	font-size: 120%;
	line-height: 1.4em;
}

#ft a {
	border-bottom: 1px solid #2a4d5b;
	color: #4cdfff;
}